@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Liberação de Crédito</h1>
    <p>Cadastre clientes ou use os da migration para criar um financiamento.</p>
</div>
